@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: OutfitThin;
  src: url(../src/Fonts/Outfit-Thin.ttf);
}
@font-face {
  font-family: OutfitBlack;
  src: url(../src/Fonts/Outfit-Black.ttf);
}
@font-face {
  font-family: OutfitBold;
  src: url(../src/Fonts/Outfit-Bold.ttf);
}
@font-face {
  font-family: OutfitExtraBold;
  src: url(../src/Fonts/Outfit-ExtraBold.ttf);
}
@font-face {
  font-family: OutfitExtraLight;
  src: url(../src/Fonts/Outfit-ExtraLight.ttf);
}
@font-face {
  font-family: OutfitLight;
  src: url(../src/Fonts/Outfit-Light.ttf);
}
@font-face {
  font-family: OutfitMedium;
  src: url(../src/Fonts/Outfit-Medium.ttf);
}
@font-face {
  font-family: OutfitRegular;
  src: url(../src/Fonts/Outfit-Regular.ttf);
}
@font-face {
  font-family: OutfitSemiBold;
  src: url(../src/Fonts/Outfit-SemiBold.ttf);
}

